.titleSpan {
    color: black;
    text-align: center;
    font-size: 800%;
    margin: 0;
    padding: 2%;
}

.titleSpan:hover {
    color: rgb(145, 253, 21);
    text-decoration: none;
}

.titleHover {
    text-decoration: none;
}

a:hover {
text-decoration: none;
}

/* .meSpacerHeight {
    opacity: 0;
    width: 10px;
    
} */
.meCartoon {
    margin: 0;
}
.meCartoon:hover {
    /* -webkit-filter: invert(100%) !important; */
    color: green;
}

.appleii {
    margin: 30% 0 0 0;
    width: 80%;
}

.appleii:hover {
    /* -webkit-filter: invert(100%) !important; */
}



/* .codeDiv {

    width: 100%;
    height: 90%;
    background-image: url("../images/codeBG.jpg"); 
} */
